export(flowCut)
export(removeLowDensSections)
import(flowCore)
importFrom(flowDensity, deGate, plotDens, getPeaks)
importFrom(Cairo, CairoPNG)
importFrom(grDevices, dev.off)
importFrom(graphics, abline, lines, par, points, title)
importFrom(stats, density, quantile, sd)
importFrom(e1071, moment)
importFrom(grDevices, png)
importFrom(graphics, legend)
importFrom("methods", "is")
