export(flowCut)
export(removeLowDensSections)
export(plotDens)
import(flowCore)
importFrom(Cairo, CairoPNG)
importFrom(grDevices, dev.off)
importFrom(graphics, abline, lines, par, points, title)
importFrom(stats, density, quantile, sd, smooth.spline, median, splinefun)
importFrom(e1071, moment)
importFrom(grDevices, chull, colors, colorRampPalette, densCols, adjustcolor, png)
importFrom(graphics, legend)
importFrom("methods", "is")
